/* all style */
*{
  margin: 0;
  padding: 0;
}
html {
  background-image: -moz-linear-gradient(to bottom, white 0%, #facd8a 100%);
  background-image: -webkit-linear-gradient(to bottom, white 0%, #facd8a 100%);
  background-image: -o-linear-gradient(to bottom, white 0%, #facd8a 100%);
  background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 100%;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: 1px solid black;
  display: grid;
  grid-template-columns:auto 1fr ;
  grid-template-rows: repeat(4,auto );
  grid-template-areas: 
  "head head"
  "nav nav"
  "aside main"
  "foot foot";
}
h1,h2,h3,p ,img,a{
  margin-bottom: 0.1em;

}
a{
  
  /* font-style: oblique; */
  font-weight: bold;
  color: rgba(129, 14, 14, 0.753);
}
a:hover{
  color: blue;
}
ul{
  list-style-type: none;
}
/* style header  */

header{
  margin: 0;
  padding: 0;
  color: rgba(129, 14, 14, 0.753);
  grid-area: head ;
  margin-bottom: 0.5em;
}
header h2,header h3
{
   padding-left: 15%;
   text-align: left;
}
header img{
  float: left;
}
.shadow{
  text-shadow: 1px 1px rgba(19, 19, 19, 0.753);
}
/* style nav */
nav{
  clear: both;
  grid-area: nav;
  width:100% ;
  
}
ul{
  width: 100%;
  display: grid;
  grid-template: 50px/repeat(5,1fr);
  grid-template-areas: "home speaker luncheon ticket aboutus";
  grid-area: nav;
  background-color:#facd8a;
  align-items: center;
  
  
}
ul li{
  text-align: center;
}
nav ul li a{
  
  text-decoration: none;
}
/* style aside  */
aside{
  padding-top:0.5em ;
  padding-left:0.5em ;

  grid-area: aside;
  margin-right:  6em;
}
aside img{
  margin: 0.5em;
}
/* style main */
main{
  padding-top: 0.5em;
  grid-area: main;
}
main blockquote{
  margin-left: 2em;
}
main section{
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid  rgba(129, 14, 14, 0.753);
}
main figure{
  float: right;
  border-bottom:1px solid rgba(129, 14, 14, 0.753);
  /* max-width: 60%; */
  padding-left: 1em;
}
img{
  max-width: 100%;
  padding-bottom: 0.2em;
}
main article figure figcaption{
  font-weight:bold;
}
footer{
  background-color:rgba(129, 14, 14, 0.753) ;
  grid-area: foot;
  text-align: end;
  padding: 1em ;
  
  margin-top:0.5em ;
}
#mobile_menu{
  display: none;
}
/* style for screen 767px */
@media only screen and ( max-width: 767px)
{
  body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 90%;
    display: grid;
    grid-template: repeat(5,auto)/100%;
    grid-template-areas: 
    "head"
    "nav"
    "main"
    "aside"
    "foot";
  }
  header{
    grid-area: head;
    margin-top:0.5em ;
    display: grid;
    grid-template: repeat(3,auto)/1fr;
    justify-items: center;
  }
  header h2, header h3{
    padding: 0;
  }
  header img{

    float: none;
    
  }
  nav{
    grid-area: nav;
  }
  /* style for nav */
    #nav_menu{
    display: none;
  }
  #mobile_menu{
    display: block ;
  }
  .slicknav_menu{
    background: rgba(129, 14, 14, 0.753) !important;
    background-color: #facd8a !important;
  }
  main{
    box-sizing: border-box;
    grid-area: main;
    padding: 0.5em;
    border-bottom: 1px solid rgba(129, 14, 14, 0.753);
    margin-right:1em ;
  }
  aside{
    padding: 0.5em;
    grid-area: aside;
    
  }
  .figure{
    margin: 0.5em auto;
    display: grid;
    grid-template: 1fr/repeat(3,1fr);
    justify-content: space-evenly;
  }
  footer{
    grid-area: foot;
  }
}
/* * style for screen 767px  479*/ 
@media only screen and ( max-width: 479px){
  body{
    
    font-size : 60%;
  }
  main article img{
    float: none;
    max-width: 100%;
    margin-right:1em ;
  }
}